<section id="information">
    <div id="wrapper">
        <div id="about">
            <h1>
                Jonathon Toon
                <span>
                    — is a multidisciplinary software designer based in Sydney, Australia.
                </span>
            </h1>
        </div>

        <div id="work">						
            <h2>
                Work
            </h2>
            <p>
                Currently I'm a Design Lead at <a href="https://www.rainforestqa.com" target="_blank" rel="noreferrer">Rainforest</a>. Prior to that I worked at <a href="https://www.moneytree.jp" target="_blank" rel="noreferrer">Moneytree</a>, <a href="https://www.origami.com" target="_blank" rel="noreferrer">Origami</a>, and <a href="https://www.facebook.com" target="_blank">Facebook</a>.
                <br/>
                <br/>
                For more details my latest portfolio is <a class="link underline white hover-white-50" href="https://www.figma.com/proto/4WuCCKH0BYs1djez3imrJK/Resume?node-id=3%3A759&viewport=75%2C265%2C0.0517074279487133&scaling=contain" target="_blank" rel="noreferrer">available here</a>.
            </p>
        </div>

        <div id="projects">						
            <h2>
                Projects
            </h2>
            <p>
                <a href="https://github.com/jonathontoon/tweet-tray" target="_blank" rel="noreferrer">Tweet Tray</a> — Compose tweets quickly from the desktop without any distractions.
                <br/>
                <br/>
                <a href="https://github.com/jonathontoon/manifest" target="_blank" rel="noreferrer">Manifest</a> — An incredibly simple grid-based pinboard for note taking.
                <br/>
                <br/>
                <a href="https://github.com/transferanyfile" target="_blank" rel="noreferrer">Peershare</a> — Transfer any file you want to anyone you want.
            </p>
        </div>

        <div id="contact">						
            <h2>
                Contact
            </h2>
            <p>
                Feel free to get in touch via <a href="mailto:hi@jonathontoon.com" target="_blank" rel="noreferrer">email</a> or follow me on <a href="https://twitter.com/jonathontoon" target="_blank" rel="noreferrer">Twitter</a>, <a href="https://github.com/jonathontoon" target="_blank" rel="noreferrer">Github</a> or <a href="https://linkedin.com/in/jonathontoon" target="_blank" rel="noreferrer">LinkedIn</a>.
                <br/>
                <br/>
                Content provided under <a href="https://creativecommons.org/licenses/by-nc/3.0/" target="_blank" rel="noreferrer">CC BY-NC 3.0</a>.
            </p>
        </div>
    </div>
</section>